.content {
    position: absolute;
    top: 35%;
    left:40%;
    transform: translate(-35%,-30%);
}

.content .card {
    background-color: #f7f7f7;
}

.choice {
    top: 15%;
    left: 5%;
    position: absolute;
    width: 11%;
}

.choice-right {
    float: right;
    top: 15%;
    right: 5%;
    position: absolute;
    width: 11%;
}

.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    left: 5px;
    top: 5px;
}